In [14]:
Name = ['Samantha', 'Jada', 'Jane', 'Claire', 'Elizabeth', 'Mary', 'Susan', 'Waje', 'Taibat', 'Lilian']
Age = ['17','16','17','18','16','18','17','20','19','17']
Height = ['5.5', '6.0','5.4','5.9','5.6','5.5','6.1','6.0','5.7','5.5'] 
Score = [80,85,70,60,76,66,87,95,50,49]

Names = ['Charles', 'Jude', 'James', 'Kelvin', 'Biodun', 'Wale', 'Kunle', 'Matthew', 'Tom', 'Kayode']
Ages = [19,16,18,17,20,19,16,18,17,19]
Heights = [5.7,5.9,5.8,6.1,5.9,5.5,61,5.4,5.8,5.7]
Scores = [74,87,75,68,66,78,87,98,54,60]

print("TABLE FOR GIRLS")
print("|Name    ||Age||Height||Score|")
for n in range(10):
    print(f"|{Name[n]}    ||{Age[n]} ||{Height[n]}  ||{Score[n]}|")
print("\n")
print("TABLE FOR BOYS")
print("|Name    ||Age||Height||Score|")
for n in range(10):
    print(f"|{Names[n]}    ||{Ages[n]} ||{Heights[n]}  ||{Scores[n]}|")

TABLE FOR GIRLS
|Name    ||Age||Height||Score|
|Samantha    ||17 ||5.5  ||80|
|Jada    ||16 ||6.0  ||85|
|Jane    ||17 ||5.4  ||70|
|Claire    ||18 ||5.9  ||60|
|Elizabeth    ||16 ||5.6  ||76|
|Mary    ||18 ||5.5  ||66|
|Susan    ||17 ||6.1  ||87|
|Waje    ||20 ||6.0  ||95|
|Taibat    ||19 ||5.7  ||50|
|Lilian    ||17 ||5.5  ||49|


TABLE FOR BOYS
|Name    ||Age||Height||Score|
|Charles    ||19 ||5.7  ||74|
|Jude    ||16 ||5.9  ||87|
|James    ||18 ||5.8  ||75|
|Kelvin    ||17 ||6.1  ||68|
|Biodun    ||20 ||5.9  ||66|
|Wale    ||19 ||5.5  ||78|
|Kunle    ||16 ||61  ||87|
|Matthew    ||18 ||5.4  ||98|
|Tom    ||17 ||5.8  ||54|
|Kayode    ||19 ||5.7  ||60|